piper-tts==1.2.0
PyYAML>=6.0
wave
pathlib
typing-extensions>=4.0.0
regex>=2023.8.8

# Dependências básicas para áudio e XTTS
numpy>=1.21.0
soundfile>=0.12.1
librosa>=0.10.0
tqdm>=4.64.0
pydub>=0.25.1

# CoquiTTS - Instalação específica para XTTS v2 para evitar dependências desnecessárias
TTS[xtts]==0.22.0

# Dependências que podem ser puxadas pelo TTS[xtts] mas que garantimos aqui
einops>=0.6.0
langid>=1.1.6
numba>=0.57.0 